@import "mixins.scss";
@import "variables.scss";
@import "header-style.scss";
@import "head-style.scss";

@include tablet-media-query {
  header {
  }
}

@include desktop-media-query {
  header {
  }
}

* {
  direction: rtl;
}

.container {
  width: 90%;
  margin: auto;
}
