.card-info {
  ul {
    display: flex;
    margin: 1.5rem auto;
    li:nth-child(2) {
      border-left: 1px solid $grey-3;
      border-right: 1px solid $grey-3;
    }
    li {
      display: flex;
      justify-content: center;
      width: 100%;

      img {
        margin:0 0.5rem;
      }
    }
  }
}
