
  .common-card {
    cursor: pointer;
    margin: auto;
    box-shadow: 0px 3px 10px #00000015;
    border-radius: 10px;
    width: 100%;
    padding: 0.6rem 0.6rem 1.5rem;
    margin-bottom: 1.25rem;
    .card-img {
      text-align: center;
      border-radius: 10px 10px 0 0;
      overflow: hidden;
      max-height: 14.375rem;
      img {
        min-width: 100%;
        min-height: 100%;
      }
    }
    .card-content {
      margin: 0 0.3rem;
      .trainer {
        display: flex;
        margin: 0.8rem 0;

        p {
          color: $primary;
          align-self: center;
        }

        .trainer-img {
          margin-left: 0.7rem;
          border-radius: 50%;
          width: 2.19rem;
          overflow: hidden;
          height: 2.19rem;

          img {
            width: 100%;
          }
        }
    
      }



      .common-card-button {
        display: flex;
        justify-content: center;
        background: $grey-2;
        border-radius: 5px;
        color: $dark-1;
        padding: 0.85rem 0;
        .arrow-icon {
          margin-right: 0.3rem;
          background: $dark-1;
        }
      }

      .common-card-button:hover {
        background: $primary-light;
        color: $primary;
        .arrow-icon {
          background: $primary;
        }
      }
    }
  }

.common-card:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}



@include big-tablet-media-query {
  .common-cards {
    display: flex;
    flex-wrap: wrap;
    .common-card {
      max-width: 48%;
    }
  }
}

@include desktop-media-query {
  .common-cards {
    .common-card {
      max-width: 32%;
    }
  }
}