* {
  margin: 0;
  padding: 0;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.arabic-container {
  direction: rtl;
}

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: auto;
}

.button {
  font-size: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
  cursor: pointer;
}

.activable-item:active {
  opacity: 0.8 !important;
}

input {
  border: none;
  border-radius: 5px;
  background-color: $grey-1;
}

.outlined-button {
  background-color: $white;
  border: 2px solid $secondary;
  color: $secondary;
}

.primary-button {
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;
}

.cancel-button {
  background-color: $danger;
  border: 2px solid $danger;
  color: $white;
}

.gray-button {
  background-color: $grey-8;
  border: 2px solid $grey-8;
  color: $grey-5;
}

.outlined-button:hover,
.primary-button:hover,
.cancel-button:hover,
.change-number-background:hover,
.selected-button {
  background: $secondary;
  border: 2px solid $secondary;
  color: $white;
}

.selected-button:hover {
  opacity: 0.9;
}

.text-button {
  color: $dark-1;
  font-weight: bolder;
  padding: 0.5rem;
}

.text-button:hover {
  color: $primary;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}
h5 {
  font-size: 1rem;
}


.hidden {
  display: none;
}

.common-title {
  text-align: center;
  p {
    opacity: 0.7;
  }
}

p {
  margin: 0.625rem 0;
  line-height: 2rem;
  font-size: 0.9rem;
}

.common-paragraph {
  opacity: 50%;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  -webkit-mask: url(../assets/blue-arrow.svg) no-repeat top;
  mask: url(../assets/blue-arrow.svg) no-repeat top;
  background: $primary;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 0.9rem;
  transform: rotate(180deg);
}

.active-arrow-icon {
  -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
}

.arrow-icon-right {
  transform: unset;
}

.arabic-container {
  .arrow-icon {
    -webkit-mask: url(../assets/blue-arrow.svg) no-repeat center;
    mask: url(../assets/blue-arrow.svg) no-repeat center;
    transform: unset;
  }
  .active-arrow-icon {
    -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
    mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
    transform: unset;
  }

  .arrow-icon-right {
    transform: rotate(180deg);
  }
}

.see-more-courses {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-width: 7rem;
  color: $primary;
}

.see-more-courses:hover {
  color: $secondary;
  .arrow-icon {
    background: $secondary;
  }
}

.hidden-input:checked ~ .menu {
  display: flex;
}

.change-container {
  display: flex;
  justify-content: space-between;
}
.change-head {
  display: flex;
  align-items: center;
}
.change-icon-background {
  padding: 0.6rem;
}
.change-icon {
  cursor: pointer;
  width: 0.68rem;
  height: 0.68rem;
  background: $white;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}
.left-arrow {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.gray-arrow {
  transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  background: $grey-5;
}

.change-number-background {
  padding: 0.45rem 0.55rem;
  border-radius: 5px;
  font-size: 0.875rem;
  cursor: pointer;
}

.arabic-container {
  .change-icon {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
  }
  .gray-arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .left-arrow {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .change-number {
    transform: unset;
    -webkit-transform: unset;
  }
}
