.courses-container {
  font-size: 0.875rem;
  color: $dark-1;

  .top-info {
    padding: 2.5rem 0 1.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title-info {
      margin-left: 3.5rem;
    }

    .see-more-courses-button {
      display: flex;
      justify-content: space-between;
      min-width: 7rem;
      color: $primary;
    }
  }

  .course-cards {
    .course-card {
      margin: auto;
      box-shadow: 0px 3px 10px #00000015;
      border-radius: 10px;
      min-width: 23rem;
      padding: 0.6rem 0.6rem 1.5rem;
      margin-bottom: 1.25rem;

      .card-img {
        margin: 0.6rem auto;
        text-align: center;
        border-radius: 10px 10px 0 0;
        overflow: hidden;

        img {
          min-width: 100%;
          min-height: 100%;
        }
      }
      .card-content {
        margin: 0 0.3rem;
        .trainer {
          display: flex;
          margin: 0.8rem 0;

          p {
            color: $primary;
            align-self: center;
          }

          .trainer-img {
            margin-left: 0.7rem;
            border-radius: 50%;
            width: 2.19rem;
            overflow: hidden;
            height: 2.19rem;

            img {
              width: 3rem;
            }
          }
        }

        .card-summary {
          h2 {
            font-size: 1.125rem;
          }
        }

        .card-info {
          ul {
            display: flex;
            margin: 1.5rem 0.6rem;
            .different-item {
              border-right: 1px solid $grey-5;
              border-left: 1px solid $grey-5;
            }
            li {
              display: flex;
              width: 100%;
              padding: 0 0.85rem;

              img {
                margin-left: 0.5rem;
              }
            }
          }
        }

        .light-button {
          display: flex;
          justify-content: center;
          background: $grey-1;
          border-radius: 5px;
          color: $dark-1;
          padding: 0.85rem 0;
          img {
            margin: 0.27rem 0.4rem 0 0;
          }
        }
      }
    }
  }
  .arrows-move {
    line-height: 20px;
    text-align: center;
    margin-bottom: 1rem;
    img {
      vertical-align: middle;
      padding: 0 0.4rem;
    }
  }
}

@include tablet-media-query {
  .course-cards {
    display: flex;
    flex-wrap: wrap;
    .course-card {
      min-width: 370px;
    }
  }
}

@include big-tablet-media-query {
  .course-cards {
    display: flex;
    flex-wrap: wrap;
    .course-card {
      max-width: 27rem;
      min-width: 0;
    }
  }
}

@include desktop-media-query {
  .course-cards {
    display: flex;
    .course-card {
      max-width: 23rem;
    }
  }
}
