.courses-container {
  font-size: 0.875rem;
  color: $dark-1;

  .top-info {
    
    padding-top: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .common-cards{
    margin-top: 2rem;
  }
 

  .navigate-courses {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    .arrow-icon {
      height: 1rem;
      width: 1.125rem;
      margin: 0.5rem;
      opacity: 0.5;
    }
    .active-arrow-icon {
      opacity: 1;
      height: 1.25rem;
      width: 2.5rem;
      cursor: pointer;
    }
    .active-arrow-icon:hover {
      background-color: $secondary;
    }
  }
}

@include tablet-media-query {
}


