.top-footer-part {
  background: $dark-2;
  color: $white;
  padding: 2.6rem 0;
  .footer-content {
    .subscribe {
      margin-bottom: 2.5rem;
      h4 {
        margin-top: 1.6rem;
      }
      .subscribe-container {
        margin: 0.7rem 0;
        position: relative;
        .subscribe {
          width: 100%;
          height: 3rem;
          padding: 0.625rem 5.8rem 0.625rem 0.625rem;
          font-size: 1rem;
        }
        .subscribe-search-icon {
          position: absolute;
          right: 0;
          height: 3rem;
          padding: 0.9rem 1.25rem;
          cursor: pointer;
          background-color: $primary;
          border-radius: 0px 5px 5px 0px;
        }
        .subscribe-search-icon:hover {
          background: $secondary;
        }
      }
    }

    .quick-links {
      display: flex;
      justify-content: space-around;
      margin-bottom: 2.5rem;
    }
    .contact-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .contact-item {
        display: inline-block;
      }
      .app-links {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        .app-icon {
          background-color: $white;
          margin: 0 0.5rem;
        }
      }
    }
  }

  h3 {
    margin: 0 0.5rem 1.5rem;
  }
  .quick-link {
    margin: 0.9rem 0;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    justify-content: right;
    &:hover {
      color: $secondary;
      text-decoration: underline;
      .icon {
        background-color: $secondary;
      }
    }
  }
  .double-arrow {
    -webkit-mask: url(../assets/double-arrows.svg) no-repeat center;
    mask: url(../assets/double-arrows.svg) no-repeat center;
    background: $white;
    margin: 0 0.5rem;
    width: 0.5rem;
    transform: rotate(180deg);
  }
  .link-icon {
    width: 0.9rem;
    background: $secondary;
    margin: 0 0.5rem;
  }

  .app-icon {
    height: 1.3rem;
    width: 1.3rem;
    margin-left: 0.8rem;
    cursor: pointer;

    &:hover {
      background-color: $secondary;
    }
  }
}

.top-footer-part {
  .footer-content {
    .contact-content {
      .app-links {
        .app-icon:hover {
          background-color: $secondary;
        }
      }
    }
  }
}

.arabic-container {
  .top-footer-part {
    .footer-content {
      .subscribe {
        .subscribe-container {
          .subscribe {
            padding: 0.625rem 0.625rem 0.625rem 5.8rem;
          }
          .subscribe-search-icon {
            left: 0;
            right: unset;
            border-radius: 5px 0px 0px 5px;
          }
        }
      }
      .double-arrow {
        transform: unset;
      }
    }
  }
}

.bottom-footer-part {
  background-color: $dark-3;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
  color: $white;
}

@include tablet-media-query {
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .subscribe {
      width: 100%;
    }
    .quick-links {
      min-width: 18rem;
    }
  }
}

@include big-tablet-media-query {
  .footer-content {
    display: flex;
    .subscribe {
      width: auto;
    }
  }
}

@include desktop-media-query {
  .footer-content {
    .subscribe,
    .quick-links {
      margin-right: 4.9rem;
    }
  }
  .arabic-container .footer-content {
    .subscribe,
    .quick-links {
      margin-left: 4.9rem;
      margin-right: unset;
    }
  }
}
