header {
  z-index: 100;
  display: flex;
  height: 4.5rem;
  position: sticky;
  box-shadow: 0 2px 5px 0 #00000014;
  background: $white;
  top: 0;
  font-weight: bold; 
  }

  .show-more-checkbox {
    display: none;
  }

  .show-more-checkbox:checked ~ .menu {
    display: flex;
    position: absolute;
  }

  .menu {
    font-size: 0.75rem;
    display: none;
    flex-direction: column-reverse;
    box-shadow: 0 2px 5px 0 #00000014;
    right: 0;
    top: 4.3rem;
    background: $white;
    border-radius: 5px;
    padding: 0.625rem;
    text-align: center;
    align-items: center;

    .outlined-button,
    .primary-button {
      width: 7.75rem;
    }

    li {
      margin: 0.625rem;
    }
  }

  .logo {
    height: 3.25rem;
  }
  .show-more-icon {
    cursor: pointer;
  }

  .search-container {
    position: relative;
    width: 1.6rem;
    height: 1.6rem;
    right: -6.8rem;
    .search-icon {
      cursor: pointer;
      width: 1.6rem;
      height: 1.6rem;
      -webkit-mask: url(../assets/search.svg) center / contain no-repeat;
      -ms-mask: url(../assets/search.svg) center / contain no-repeat;
      mask: url(../assets/search.svg) center / contain no-repeat;
      background-color: $grey-5;
      &:hover {
        background-color: $primary;
      }
    }
    .triangle {
      position: absolute;
      bottom: -1.2rem;
      left: 0.3rem;
      border-bottom: 0.7rem solid $grey-2;
    }
  }
  .search-menu {
    position: absolute;
    top: 4.1rem;
    right: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background: $white;
    font-size: 0.75rem;
    box-shadow: unset;
    border-radius: 5px;
    padding: 0.625rem;
    text-align: center;
    align-items: center;
  }

  .search {
    background: $grey-2;
    width: 100%;
    height: 100%;
    padding: 0.625rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding-right: 2.5rem;
    padding-left: 0.625rem;
  }
  .search-input-icon {
    position: absolute;
    right: 0.7rem;
    top: 0.6rem;
    cursor: pointer;
    width: 2.5rem;
    height: 2.3rem;
    -webkit-mask: url(../assets/search.svg) no-repeat center;
    -ms-mask: url(../assets/search.svg) no-repeat center;
    mask: url(../assets/search.svg) no-repeat center;
    background-color: $grey-5;
    &:hover {
      background-color: $primary;
    }
  }


.arabic-container {
  .search-container {
    left: -6.8rem;
    right: unset;
  }
  .search {
    padding-left: 2.5rem;
    padding-right: 0.625rem;
  }
  .search-input-icon {
    left: 0;
    right: unset;
  }
  .menu {
    right: unset;
    left: 0;
  }
}

@include tablet-media-query {
  header {
    .verify-certificate {
      display: none;
    }
    .search-container {
      display: block;
      margin: 0;
      left: 0;
    }

    .search-menu {
      position: absolute;
      top: 3.875rem;
      box-shadow: 0 2px 5px 0 #00000014;
    }

    .show-more-checkbox:checked ~ .menu {
      position: static;
    }

    .menu {
      display: flex;
      flex-direction: row;
      padding: 0;
      border-radius: 0;
      top: 0;
      left: 0;
      box-shadow: none;
    }

    .show-more-checkbox,
    .show-more-icon {
      display: none;
    }

    .logo {
      margin-right: 1rem;
    }
  }

  .arabic-container {
    .search-container {
      right: 0;
    }
    .logo {
      margin-left: 1rem;
    }
  }
}

@include big-tablet-media-query {
  header {
    .search-container {
      display: none;
      margin: 0;
    }

    .search-menu {
      display: block;
      position: relative;
      top: 0;
      box-shadow: unset;
    }
  }
}

@include desktop-media-query {
  header {
    .menu {
      .verify-certificate {
        display: list-item;
      }

      li {
        margin-right: 0.94rem;
      }
    }

    .search-menu {
      width: unset;
      min-width: 37%;
    }

    .logo {
      margin-right: 1.875rem;
    }
  }

  .arabic-container {
    .logo {
      margin-left: 1.875rem;
    }
  }
}
