header {
  z-index: 100;
  display: flex;
  height: 4.5rem;
  position: sticky;
  box-shadow: 0 2px 5px 0 #00000014;
  background: $white;
  top: 0;
  font-weight: bold;

  .show-more-checkbox {
    display: none;
  }

  .show-more-checkbox:checked ~ .menu {
    display: flex;
    position: absolute;
  }

  .menu {
    font-size: 0.75rem;
    display: none;
    flex-direction: column-reverse;
    box-shadow: 0 2px 5px 0 #00000014;
    left: 0;
    top: 4.3rem;
    background: $white;
    border-radius: 5px;
    padding: 0.625rem;
    text-align: center;
    align-items: center;

    .outlined-button,
    .primary-button {
      width: 7.75rem;
    }

    li {
      margin: 0.625rem;
    }
  }

  .logo {
    height: 3.25rem;
  }
  .show-more-icon {
    cursor: pointer;
  }

  .search-container {
    margin: 0 2.5rem;
    position: relative;
    flex: 1;
    .search {
      width: 100%;
      height: 2.625rem;
      padding: 0.625rem;
      font-size: 0.75rem;
      font-weight: bold;
      padding-left: 2.5rem;
    }
    .search-icon {
      position: absolute;
      left: 0;
      cursor: pointer;
      width: 2.625rem;
      height: 2.625rem;
      -webkit-mask: url(../assets/search.svg) no-repeat center;
      mask: url(../assets/search.svg) no-repeat center;
      background-color: $grey-5;
    }
    .search-icon:hover {
      background-color: $primary;
    }
  }
}

@include tablet-media-query {
  header {
    .verify-certificate {
      display: none;
    }

    .search-container {
      margin: 0;
    }

    .show-more-checkbox:checked ~ .menu {
      position: static;
    }

    .menu {
      display: flex;
      flex-direction: row;
      padding: 0;
      border-radius: 0;
      top: 0;
      left: 0;
      box-shadow: none;

      li {
        margin: 0.25rem;
      }
    }

    .show-more-checkbox,
    .show-more-icon {
      display: none;
    }

    .logo {
      margin-left: 0.5rem;
    }
  }
}

@include desktop-media-query {
  header {
    .menu {
      .verify-certificate {
        display: list-item;
      }

      li {
        margin-right: 0.94rem;
      }
    }

    .logo {
      margin-left: 1.875rem;
    }
  }
}
