.map {
  -webkit-mask: url(../assets/map.svg) no-repeat center;
  mask: url(../assets/map.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.phone {
  -webkit-mask: url(../assets/phone.svg) no-repeat center;
  mask: url(../assets/phone.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.email {
  -webkit-mask: url(../assets/email.svg) no-repeat center;
  mask: url(../assets/email.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.facebook {
  -webkit-mask: url(../assets/facebook.svg) no-repeat center;
  mask: url(../assets/facebook.svg) no-repeat center;
}

.whatsapp {
  -webkit-mask: url(../assets/whatsapp.svg) no-repeat center;
  mask: url(../assets/whatsapp.svg) no-repeat center;
}

.instagram {
  -webkit-mask: url(../assets/instagram.svg) no-repeat center;
  mask: url(../assets/instagram.svg) no-repeat center;
}

.red-gmail{
  -webkit-mask: url(../assets/red-gmail.svg) no-repeat center;
  mask: url(../assets/red-gmail.svg) no-repeat center;
}

.blue-facebook{
  -webkit-mask: url(../assets/blue-facebook.svg) no-repeat center;
  mask: url(../assets/blue-facebook.svg) no-repeat center;
}
