.map {
  -webkit-mask: url(../assets/map.svg) no-repeat center;
  mask: url(../assets/map.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.phone {
  -webkit-mask: url(../assets/phone.svg) no-repeat center;
  mask: url(../assets/phone.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.email {
  -webkit-mask: url(../assets/email.svg) no-repeat center;
  mask: url(../assets/email.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.facebook {
  -webkit-mask: url(../assets/facebook.svg) no-repeat center;
  mask: url(../assets/facebook.svg) no-repeat center;
}

.whatsapp {
  -webkit-mask: url(../assets/whatsapp.svg) no-repeat center;
  mask: url(../assets/whatsapp.svg) no-repeat center;
}

.instagram {
  -webkit-mask: url(../assets/instagram.svg) no-repeat center;
  mask: url(../assets/instagram.svg) no-repeat center;
}

.gmail {
  -webkit-mask: url(../assets/red-gmail.svg) no-repeat center;
  mask: url(../assets/red-gmail.svg) no-repeat center;
}

.facebook2 {
  -webkit-mask: url(../assets/blue-facebook.svg) no-repeat center;
  mask: url(../assets/blue-facebook.svg) no-repeat center;
}

.video-icon {
  -webkit-mask: url(../assets/video.svg) center center / contain no-repeat;
  mask: url(../assets/video.svg) center center / contain no-repeat;
}

.play-icon {
  -webkit-mask: url(../assets/icon-play.svg) center center / contain no-repeat;
  mask: url(../assets/icon-play.svg) center center / contain no-repeat;
}

.lock-icon {
  -webkit-mask: url(../assets/lock.svg) center center / contain no-repeat;
  mask: url(../assets/lock.svg) center center / contain no-repeat;
}
.comment-star {
  -webkit-mask: url(../assets/star.svg) center center / contain no-repeat;
  mask: url(../assets/star.svg) center center / contain no-repeat;
}

.small-arrow {
  -webkit-mask: url(../assets/icon-down.svg) center / contain no-repeat;
  mask: url(../assets/icon-down.svg) center / contain no-repeat;
}

.filter-icon{
  -webkit-mask: url(../assets/filter-symbol.svg) center / contain no-repeat;
  mask: url(../assets/filter-symbol.svg) center / contain no-repeat;
}

.search-input-icon {
  -webkit-mask: url(../assets/search.svg) center / contain no-repeat;
  mask: url(../assets/search.svg) center / contain no-repeat;
}
.upload-icon{
  -webkit-mask: url(../assets/upload.svg) center / contain no-repeat;
  mask: url(../assets/upload.svg) center / contain no-repeat;
}