header {
  z-index: 100;
  display: flex;
  height: 4rem;
  position: sticky;
  box-shadow: 0 2px 5px 0 #00000014;
  background: $white;
  top: 0;
  font-weight: bold;
  .header-items {
    position: relative;
    display: none;
    .logo {
      height: 3.25rem;
    }
    .login-search-icon-container {
      position: relative;
      width: 1.6rem;
      height: 1.6rem;
      .login-search-icon {
        cursor: pointer;
        width: 1.6rem;
        height: 1.6rem;
        -webkit-mask: url(../assets/search.svg) center / contain no-repeat;
        -ms-mask: url(../assets/search.svg) center / contain no-repeat;
        mask: url(../assets/search.svg) center / contain no-repeat;
        background-color: $grey-5;
        &:hover {
          background-color: $primary;
        }
      }
      .login-triangle {
        position: absolute;
        bottom: -1.2rem;
        left: 0.3rem;
        border-bottom: 0.7rem solid $grey-2;
      }
    }
    .login-search-menu {
      position: absolute;
      top: 3.875rem;
      right: 0;
      left: 0;
      width: 100%;
      height: 3.5rem;
      background: $white;
      font-size: 0.75rem;
      box-shadow: 0 2px 5px 0 #00000014;
      border-radius: 5px;
      padding: 0.625rem;
      text-align: center;
      align-items: center;

      .login-search {
        background: $grey-2;
        width: 100%;
        height: 100%;
        padding: 0.625rem;
        font-size: 0.75rem;
        font-weight: bold;
        padding-right: 2.5rem;
        padding-left: 0.625rem;
      }
      .login-search-input-icon {
        position: absolute;
        right: 0.7rem;
        top: 0.6rem;
        cursor: pointer;
        width: 2.5rem;
        height: 2.3rem;
        -webkit-mask: url(../assets/search.svg) no-repeat center;
        -ms-mask: url(../assets/search.svg) no-repeat center;
        mask: url(../assets/search.svg) no-repeat center;
        background-color: $grey-5;
        &:hover {
          background-color: $primary;
        }
      }
    }
    .button {
      margin: 0 1rem;
    }
  
    
 
  
 
 
 
  }
}

.arabic-container {
  header .header-items .login-search-menu {
    .login-search {
      padding-left: 2.5rem;
      padding-right: 0.625rem;
    }
    .login-search-input-icon {
      right: unset;
      left: 0.7rem;
    }
  }

  .header-items .user-container .user-menu-content {
    left: 0;
    right: -98px;
  }
}

@include tablet-media-query {
  header {
    .user-container .user-content {
      width: 11rem;
    }
    header .header-items .user-container .user-content .user-name {
      display: block;
    }
    .user-menu-content .triangle {
      margin: auto;
    }

    .logo {
      margin-right: 1rem;
    }
  }

  .arabic-container {
    .logo {
      margin-left: 1rem;
    }
  }
}


@include tablet-media-query {
  header {
    

    
    .search-icon-container {
      display: block;
      margin: 0;
      left: 0;
    }

    .search-menu {
      position: absolute;
      top: 3.875rem;
    }
    .verify-certificate {
      display: none;
    }

    .hidden-input:checked ~ .menu {
      position: static;
    }

    .menu {
      display: flex;
      flex-direction: row;
      padding: 0;
      border-radius: 0;
      top: 0;
      left: 0;
      box-shadow: none;
    }

    .hidden-input,
    .show-more-icon {
      display: none;
    }

   
  } 
}





@include big-tablet-media-query {
  header {
    .header-items {
      .login-search-icon-container {
        display: none;
      }
      .login-search-menu {
        display: block;
        position: relative;
        top: 0;
        box-shadow: unset;
      }
    }

    .logo {
      margin-right: 1.875rem;
    }
  }

  .arabic-container {
    .logo {
      margin-left: 1.875rem;
    }
  }
}
@include desktop-media-query {
  header {
    .header-items {
      .login-search-menu {
        max-width: 40rem;
      }
    }
  }
}


.menu {
  .verify-certificate {
    display: list-item;
  }

  li {
    margin-right: 0.94rem;
  }
}

.search-menu {
  width: unset;
  min-width: 37%;
}

.logo {
  margin-right: 1.875rem;
}
}

.arabic-container {
.logo {
  margin-left: 1.875rem;
}
}