.common-title-content {
  background-image: url(../assets/gray-background.png);
  background-size: cover;
  padding: 1.6rem 0;
}

.login-content {
  border: 1px solid $grey-7;
  border-radius: 1.25rem;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
  .left-part {
    background: $primary;
    display: flex;
    justify-content: center;
    padding: 2.3rem;
    border-radius: 1.25rem 1.25rem 0 0;
    img {
      max-width: 13rem;
    }
  }

  .right-part {
    padding: 2.8rem 3rem 1rem;
    text-align: center;
    .login-title {
      margin-bottom: 1rem;
    }
    .login-input {
      display: flex;
      flex-direction: column;

      .form-input {
        text-align: left;
        margin: 1rem 0;
        width: 100%;

        .input-label {
          font-size: 1rem;
        }
        .input-container {
          position: relative;

          input {
            width: 100%;
            height: 3rem;
            padding: 0 1.5rem;
            margin: 1.125rem 0 0.5rem;
            padding-right: 3rem;
          }
          .input-icon {
            position: absolute;
            right: 0;
            top: 1.2rem;
            height: 3rem;
            width: 3rem;
            cursor: pointer;
            background-color: $black;
            -webkit-mask: url(../assets/Icon-eye.svg) no-repeat center;
            mask: url(../assets/Icon-eye.svg) no-repeat center;
          }
          .input-icon:hover {
            background: $secondary;
          }
        }
      }
      .input-error {
        .input-area {
          border: 2px solid $danger;
        }
        .input-error-message {
          font-size: 0.7rem;
          color: $danger;
          margin-right: 1rem;
        }
      }

      .forget-password {
        text-align: right;
        margin-bottom: 1.25rem;
        cursor: pointer;
        margin: 0;
        a {
          color: $dark-1;
          &:hover {
            color: $secondary;
            text-decoration: underline;
          }
        }
      }
      p {
        margin: 1.6rem 0;
      }
      .login-button {
        margin-top: 1.5rem;
        a{
          color: $white;
        }
      }

      .login-icons {
        display: flex;
        justify-content: center;
        .facebook-background {
          background-color: $facebook;
          &:hover {
            background-color: #2e4e82;
          }
        }
        .gmail-background {
          background-color: $google;
          &:hover {
            background-color: #772b3d;
          }
        }

        .login-app-icon {
          cursor: pointer;
          padding: 0.6rem;
          margin: 0 0.5rem;
          width: 3rem;
          height: 3rem;
          border-radius: 24px;

          .login-icon {
            background-color: $white;
            height: 1.68rem;
          }
        }
      }
      .ask-for-account {
        display: flex;
        justify-content: center;
        p:nth-child(2) {
          margin: 1.6rem 0.6rem;
          color: $secondary;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.confirm {
  margin-top: 1.8rem;
}

.arabic-container {
  .login-content {
    .right-part {
      .login-input {
        .form-input {
          text-align: right;
          .input-container {
            .input-icon {
              right: unset;
              left: 0;
            }
          }
        }
        .forget-password {
          text-align: left;
        }
      }
    }
  }
}

.arabic-container
  .login-content
  .right-part
  .login-input
  .form-input
  .input-container
  input {
  padding-left: 3rem;
  padding-right: 1.5rem;
}

@include tablet-media-query {
  .login-content {
    display: block;
    max-width: 50rem;
  }
}

@include big-tablet-media-query {
  .login-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    .left-part {
      min-width: 47%;
      border-radius: 0 1.25rem 1.25rem 0;
      img {
        max-width: unset;
        width: 100%;
      }
    }
    .right-part {
      padding: 2.8rem 4rem 1rem;
    }
  }

  .arabic-container {
    .login-content .left-part {
      border-radius: 1.25rem 0 0 1.25rem;
    }
  }
}
