.main-banner {
  background-image: url(../assets/blue-background.svg);

  .container {
    padding: 1.875rem 0;
    text-align: center;
  }
  .head-info {
    padding: 0.625rem;
    color: $white;

    h1 {
      font-size: 2.875rem;
    }

    p {
      font-size: 0.875rem;
      margin-top: 1.25rem;
      line-height: 1.8;
      padding: 0 3.1rem;
    }

    a {                     
      position: relative;
      padding: 0.6rem 2rem 0.75rem 3.5rem;
      margin-top: 1.25rem;
      img {
        position: absolute;
        top: 1rem;
        left: 1.5625rem;
      }
    }
  }

  .banner-img {
    margin-top: 1.875rem;
    width: 25rem;
    max-width: 100%;
  }
}

@include tablet-media-query {
  .main-banner {
    .banner-img {
      width: 30rem;
    }
  }
}

@include big-tablet-media-query {
  .main-banner {
    .container {
      text-align: right;
      padding: 5.65rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        padding: 0;
      }
    }

    .banner-img {
      width: 31.25rem;
    }
  }
}

@include desktop-media-query {
  .main-banner {
    .banner-img {
      width: 41.25rem;
    }
  }
}
