.main-banner {
  background-image: url(../assets/blue-background.svg);

  .container {
    padding: 1.875rem 0;
    text-align: center;
  }
  .head-info {
    padding: 0.625rem;
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2.875rem;
    }

    p {
      font-size: 0.875rem;
      margin-top: 1.25rem;
      line-height: 1.8;
      padding: 0 3.1rem;
    }
  }
  a {
    display: flex;
    justify-content: center;
    padding: 0.6rem 1.5rem 0.75rem 1.5rem;
    margin: 1.25rem auto;
    .arrow-icon {
      margin: 0 0.5rem;
      background-color: $white;
      height: 1rem;
    }
  }

  .banner-img {
    margin-top: 1.875rem;
    width: 25rem;
    max-width: 100%;
  }
}

@include tablet-media-query {
  .main-banner {
    .banner-img {
      width: 30rem;
    }
  }
}

@include big-tablet-media-query {
  .main-banner {
    .container {
      text-align: left;
      padding: 5.65rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .head-info {
        align-items: start;
        p {
          padding: 0;
        }
        a {
          margin: 1.25rem 0 0 0;
        }
      }
    }

    .banner-img {
      width: 31.25rem;
    }
  }
  .arabic-container {
    .main-banner {
      .container {
        text-align: right;
      }
    }
  }
}

@include desktop-media-query {
  .main-banner {
    .banner-img {
      width: 41.25rem;
    }
  }
}
