@import "mixins.scss";
@import "variables.scss";
@import "header-style.scss";
@import "main-banner.scss";
@import "courses-containar.scss";

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: auto;
}

.button {
  font-size: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
}

input {
  border: none;
  border-radius: 5px;
  background-color: $grey-2;
}

.outlined-button {
  background-color: $white;
  border: 2px solid $secondary;
  color: $secondary;
}

.primary-button {
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;
}

.outlined-button:hover,
.primary-button:hover,
.selected-button {
  background: $secondary;
  border: 2px solid $secondary;
  color: $white;
}

.selected-button:hover {
  opacity: 0.8;
}

.text-button {
  color: $dark-1;
  font-weight: bolder;
  padding: 0.5rem;
}

.text-button:hover {
  color: $primary;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.common-paragraph{
  padding-top: 0.625rem;
  opacity: 50%;
  line-height: 1.6rem;
}




.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
