* {
  margin: 0;
  padding: 0;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.arabic-container {
  direction: rtl;
}

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: auto;
}

.button {
  font-size: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
  cursor: pointer;
}

.activable-item:active {
  opacity: 0.8 !important;
}

input {
  border: none;
  border-radius: 5px;
  background-color: #f4f5f7;
}

.outlined-button {
  background-color: #ffffff;
  border: 2px solid #ff7c00;
  color: #ff7c00;
}

.primary-button {
  background-color: #115faf;
  border: 2px solid #115faf;
  color: #ffffff;
}

.outlined-button:hover,
.primary-button:hover,
.selected-button {
  background: #ff7c00;
  border: 2px solid #ff7c00;
  color: #ffffff;
}

.selected-button:hover {
  opacity: 0.9;
}

.text-button {
  color: #05111e;
  font-weight: bolder;
  padding: 0.5rem;
}

.text-button:hover {
  color: #115faf;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

.hidden {
  display: none;
}

.common-title {
  text-align: center;
}

p {
  margin: 0.625rem 0;
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.common-paragraph {
  opacity: 50%;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  -webkit-mask: url(../assets/blue-arrow.svg) no-repeat top;
  mask: url(../assets/blue-arrow.svg) no-repeat top;
  background: #115faf;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 0.9rem;
  transform: rotate(180deg);
}

.active-arrow-icon {
  -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
}

.arrow-icon-right {
  transform: unset;
}

.arabic-container .arrow-icon {
  -webkit-mask: url(../assets/blue-arrow.svg) no-repeat center;
  mask: url(../assets/blue-arrow.svg) no-repeat center;
  transform: unset;
}
.arabic-container .active-arrow-icon {
  -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  transform: unset;
}
.arabic-container .arrow-icon-right {
  transform: rotate(180deg);
}

.see-more-courses {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-width: 7rem;
  color: #115faf;
}

.see-more-courses:hover {
  color: #ff7c00;
}
.see-more-courses:hover .arrow-icon {
  background: #ff7c00;
}

.hidden-input {
  display: none;
}

header {
  z-index: 100;
  display: flex;
  height: 4.5rem;
  position: sticky;
  box-shadow: 0 2px 5px 0 #00000014;
  background: #ffffff;
  top: 0;
  font-weight: bold;
}
header .logo {
  height: 3.25rem;
  margin-right: 1rem;
}
header .header-icons .search-icon {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-mask: url(../assets/search.svg) center/contain no-repeat;
  -ms-mask: url(../assets/search.svg) center/contain no-repeat;
  mask: url(../assets/search.svg) center/contain no-repeat;
  background-color: #565656;
}
header .header-icons .search-icon:hover {
  background-color: #115faf;
}
header .header-icons .search-menu {
  position: absolute;
  top: 4.5rem;
  right: 0;
  left: 0;
  background: #ffffff;
  font-size: 0.75rem;
  border-radius: 5px;
  padding: 0.625rem;
  box-shadow: 0 0 10px 0px #00000029;
}
header .header-icons .search-menu .search {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding-right: 2.5rem;
  padding-left: 0.625rem;
}
header .header-icons .search-menu .search-input-icon {
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
  cursor: pointer;
  width: 2.5rem;
  height: 2.3rem;
  -webkit-mask: url(../assets/search.svg) no-repeat center;
  -ms-mask: url(../assets/search.svg) no-repeat center;
  mask: url(../assets/search.svg) no-repeat center;
  background-color: #565656;
}
header .header-icons .search-menu .search-input-icon:hover {
  background-color: #115faf;
}
header .header-icons .english-button {
  display: none;
}
header .header-icons .login-menus {
  display: none;
}
header .header-icons .login-menus .notification-container {
  position: relative;
  margin: 0 1.5rem;
}
header .header-icons .login-menus .notification-container .notifications-icon {
  cursor: pointer;
  width: 1.6rem;
  height: 1.6rem;
  -webkit-mask: url(../assets/icon-notification.svg) center/contain no-repeat;
  -ms-mask: url(../assets/icon-notification.svg) center/contain no-repeat;
  mask: url(../assets/icon-notification.svg) center/contain no-repeat;
  background-color: #565656;
}
header .header-icons .login-menus .notification-container .notifications-icon:hover {
  background-color: #115faf;
}
header .header-icons .login-menus .notification-container .number-of-notifications {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  background-color: #ff7c00;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  font-size: 0.8rem;
  text-align: center;
  color: #ffffff;
}
header .header-icons .login-menus .notification-container .notifications-menu {
  position: absolute;
  width: 18.5rem;
  font-size: 0.75rem;
  box-shadow: 0 2px 5px 0 #00000014;
  top: 2.9rem;
  left: -10rem;
}
header .header-icons .login-menus .notification-container .notifications-menu .triangle {
  margin-left: 10.25rem;
}
header .header-icons .login-menus .notification-container .notifications-menu ul {
  background: #ffffff;
  border-radius: 5px;
}
header .header-icons .login-menus .notification-container .notifications-menu li:nth-child(1) {
  font-size: 0.875rem;
  margin: 0;
  padding: 0.75rem;
}
header .header-icons .login-menus .notification-container .notifications-menu li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d1d1d1;
  color: #05111e;
  padding: 0.75rem 0;
  margin: 0 0.75rem;
}
header .header-icons .login-menus .notification-container .notifications-menu li:hover {
  color: #115faf;
}
header .header-icons .login-menus .notification-container .notifications-menu li span:nth-child(1) {
  cursor: pointer;
}
header .header-icons .login-menus .notification-container .notifications-menu li span:nth-child(2) {
  color: #808080;
}
header .header-icons .login-menus .notification-container .notifications-menu li:nth-child(1) span:nth-child(2) {
  cursor: pointer;
  color: #115faf;
}
header .header-icons .login-menus .notification-container .notifications-menu li:nth-child(1) span:nth-child(2):hover {
  color: #ff7c00;
}
header .header-icons .login-menus .notification-container .notifications-menu li:nth-child(1) span:nth-child(1) {
  cursor: unset;
}
header .header-icons .login-menus .notification-container .notifications-menu li:nth-child(1):hover {
  color: #05111e;
}
header .header-icons .login-menus .user-container {
  position: relative;
}
header .header-icons .login-menus .user-container .user-content {
  background-color: #f4f5f7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.4rem 0;
}
header .header-icons .login-menus .user-container .user-content:hover {
  box-shadow: 0 2px 5px 0 #00000014;
}
header .header-icons .login-menus .user-container .user-content:hover .user-arrow-icon {
  background-color: #115faf;
}
header .header-icons .login-menus .user-container .user-content .user-img {
  border-radius: 50%;
  border: 2px dashed #115faf;
  width: 2.19rem;
  overflow: hidden;
  height: 2.19rem;
  margin: 0 0.5rem;
}
header .header-icons .login-menus .user-container .user-content .user-img img {
  width: 100%;
}
header .header-icons .login-menus .user-container .user-content .user-name {
  display: none;
  font-size: 0.875rem;
  font-weight: unset;
  margin: 0 0.5rem;
}
header .header-icons .login-menus .user-container .user-content .user-arrow-icon {
  cursor: pointer;
  width: 0.6rem;
  height: 0.6rem;
  margin: 0 0.5rem;
  -webkit-mask: url(../assets/icon-down.svg) center/contain no-repeat;
  -ms-mask: url(../assets/icon-down.svg) center/contain no-repeat;
  mask: url(../assets/icon-down.svg) center/contain no-repeat;
  background-color: #565656;
}
header .header-icons .login-menus .user-container .user-content .user-arrow-icon:hover {
  background-color: #115faf;
}
header .header-icons .login-menus .user-container .user-menu-content {
  position: absolute;
  width: 11rem;
  font-size: 0.75rem;
  box-shadow: 0 2px 5px 0 #00000014;
  top: 3.5rem;
  right: 0;
  align-items: center;
}
header .header-icons .login-menus .user-container .user-menu-content .triangle {
  margin: 0 9rem;
}
header .header-icons .login-menus .user-container .user-menu-content .user-menu {
  background: #ffffff;
  border-radius: 10px;
  padding: 0.5rem 1rem 1rem;
}
header .header-icons .login-menus .user-container .user-menu-content .user-menu li {
  cursor: pointer;
  padding: 0.5rem 0;
  color: #05111e;
}
header .header-icons .login-menus .user-container .user-menu-content .user-menu li:hover {
  color: #115faf;
}
header .header-icons .login-menus .user-container .user-menu-content .user-menu li:last-child {
  color: #c10f23;
}
header .header-icons .login-menus .user-container .user-menu-content .user-menu li:last-child:hover {
  color: #ff7c00;
}
header .header-icons .triangle {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.7rem solid #ffffff;
}
header .header-icons .logout-menus .hidden-input {
  display: none;
}
header .header-icons .logout-menus .show-more-icon {
  margin-left: 1.5rem;
  cursor: pointer;
}
header .header-icons .logout-menus .show-more-icon img {
  vertical-align: middle;
}
header .header-icons .logout-menus .hidden-input:checked ~ .menu {
  display: flex;
  position: absolute;
}
header .header-icons .logout-menus .menu {
  font-size: 0.75rem;
  display: none;
  flex-direction: column-reverse;
  box-shadow: 0 2px 5px 0 #00000014;
  right: 0;
  top: 4.3rem;
  background: #ffffff;
  border-radius: 5px;
  padding: 0.625rem;
  align-items: center;
}
header .header-icons .logout-menus .menu .outlined-button,
header .header-icons .logout-menus .menu .primary-button {
  width: 7.75rem;
}
header .header-icons .logout-menus .menu li {
  margin: 0.625rem;
}

.arabic-container .logo {
  margin-right: unset;
  margin-left: 1rem;
}
.arabic-container .header-icons .search-menu .search {
  padding-left: 2.5rem;
  padding-right: 0.625rem;
}
.arabic-container .header-icons .search-menu .search-input-icon {
  left: 0.6rem;
  right: unset;
}
.arabic-container .header-icons .login-menus .notifications-menu {
  right: -10rem;
}
.arabic-container .header-icons .login-menus .notifications-menu .triangle {
  margin-right: 10.25rem;
}
.arabic-container .header-icons .login-menus .user-container .user-menu-content {
  right: unset;
  left: 0;
}
.arabic-container .header-icons .logout-menus .show-more-icon {
  margin-right: 1.5rem;
  margin-left: unset;
}
.arabic-container .header-icons .logout-menus .menu {
  right: unset;
  left: 0;
}

@media (min-width: 40em) {
  header .search-icon {
    display: none;
  }
  header .header-icons {
    flex: 1;
  }
  header .header-icons .login-menus .user-container .user-content .user-name {
    display: block;
  }
  header .header-icons .search-menu {
    flex: 1;
    margin: auto;
    display: block;
    position: relative;
    top: 0;
    box-shadow: unset;
  }
}
@media (min-width: 62em) {
  header .header-icons .login-menus .english-button {
    display: block;
  }
  header .header-icons .logout-menus .menu .verify-certificate {
    display: block;
  }
  header .header-icons .logout-menus .menu {
    position: unset !important;
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 0;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  header .verify-certificate {
    display: none;
  }
  header .hidden-input,
header .show-more-icon {
    display: none;
  }
}
.main-banner {
  background-image: url(../assets/blue-background.svg);
}
.main-banner .container {
  padding: 1.875rem 0;
  text-align: center;
}
.main-banner .head-info {
  padding: 0.625rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-banner .head-info h1 {
  font-size: 2.875rem;
}
.main-banner .head-info p {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  line-height: 1.8;
  padding: 0 3.1rem;
}
.main-banner a {
  display: flex;
  justify-content: center;
  padding: 0.6rem 1.5rem 0.75rem 1.5rem;
  margin: 1.25rem auto;
}
.main-banner a .arrow-icon {
  margin: 0.125rem 0.5rem 0;
  background-color: #ffffff;
  height: 1rem;
}
.main-banner .banner-img {
  margin-top: 1.875rem;
  width: 25rem;
  max-width: 100%;
}

@media (min-width: 40em) {
  .main-banner .banner-img {
    width: 30rem;
  }
}
@media (min-width: 62em) {
  .main-banner .container {
    text-align: left;
    padding: 5.65rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-banner .container .head-info {
    align-items: start;
  }
  .main-banner .container .head-info p {
    padding: 0;
  }
  .main-banner .container .head-info a {
    margin: 1.25rem 0 0 0;
  }
  .main-banner .banner-img {
    width: 31.25rem;
  }

  .arabic-container .main-banner .container {
    text-align: right;
  }
}
@media (min-width: 75em) {
  .main-banner .banner-img {
    width: 41.25rem;
  }
}
.courses-container {
  font-size: 0.875rem;
  color: #05111e;
}
.courses-container .top-info {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-container .common-cards {
  margin-top: 2rem;
}
.courses-container .navigate-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.courses-container .navigate-courses .arrow-icon {
  height: 1rem;
  width: 1.125rem;
  margin: 0.5rem;
  opacity: 0.5;
}
.courses-container .navigate-courses .active-arrow-icon {
  opacity: 1;
  height: 1.25rem;
  width: 2.5rem;
  cursor: pointer;
}
.courses-container .navigate-courses .active-arrow-icon:hover {
  background-color: #ff7c00;
}

.common-card {
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 3px 10px #00000015;
  border-radius: 10px;
  width: 100%;
  padding: 0.6rem 0.6rem 1.5rem;
  margin-bottom: 1.25rem;
}
.common-card .card-img {
  text-align: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  max-height: 14.375rem;
}
.common-card .card-img img {
  min-width: 100%;
  min-height: 100%;
}
.common-card .card-content {
  margin: 0 0.3rem;
}
.common-card .card-content .trainer {
  display: flex;
  margin: 0.8rem 0;
}
.common-card .card-content .trainer p {
  color: #115faf;
  align-self: center;
  margin: 0 0.7rem;
}
.common-card .card-content .trainer .trainer-img {
  border-radius: 50%;
  width: 2.19rem;
  overflow: hidden;
  height: 2.19rem;
}
.common-card .card-content .trainer .trainer-img img {
  width: 100%;
}
.common-card .card-content .common-card-button {
  display: flex;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 5px;
  color: #05111e;
  padding: 0.85rem 0;
}
.common-card .card-content .common-card-button .arrow-icon {
  margin: 0 0.3rem;
  background: #05111e;
}
.common-card .card-content .common-card-button:hover {
  background: #ddeaf9;
  color: #115faf;
}
.common-card .card-content .common-card-button:hover .arrow-icon {
  background: #115faf;
}

.common-card:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}

@media (min-width: 62em) {
  .common-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .common-cards .common-card {
    max-width: 48%;
  }
}
@media (min-width: 75em) {
  .common-cards .common-card {
    max-width: 32%;
  }
}
.why-spme {
  background-image: url(../assets/peaple.png);
  background-size: cover;
}
.why-spme .why-spme-background {
  background-color: #003185;
  opacity: 0.9;
}
.why-spme .why-spme-background .why-spme-content {
  padding: 4.2rem 0;
}
.why-spme .why-spme-background .why-spme-content div {
  color: white;
}
.why-spme .why-spme-background .why-spme-content .why-spme-items .why-spme-item {
  margin: auto;
  background-color: #397bde;
  border-radius: 15px;
  margin-top: 1.8rem;
  padding: 2.8rem 1.8rem;
  text-align: center;
}
.why-spme .why-spme-background .why-spme-content .why-spme-items .why-spme-item h3 {
  margin-top: 1.5rem;
}
.why-spme .why-spme-background .why-spme-content .why-spme-items .why-spme-item p {
  margin-top: 1rem;
}
.why-spme .common-title p {
  opacity: 0.7;
}

@media (min-width: 62em) {
  .why-spme-items {
    display: flex;
    flex-wrap: wrap;
  }
  .why-spme-items .why-spme-item {
    max-width: 47%;
  }
}
@media (min-width: 75em) {
  .why-spme-items .why-spme-item {
    max-width: 30%;
  }
}
.articles-section .articles-content {
  padding: 4.2rem 0;
}
.articles-section .articles-content .common-cards {
  margin: 3rem 0;
}
.articles-section .articles-content .common-cards .common-card {
  position: relative;
  box-shadow: none;
  padding: 0;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.articles-section .articles-content .common-cards .common-card .date-of-course {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  text-align: center;
  padding: 0.25rem 0.625rem;
  border: 1px solid #265FA9;
  width: 2.8rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #115faf;
  font-weight: bold;
  line-height: 1.1;
}
.articles-section .articles-content .common-cards .common-card .card-content {
  margin: 0 1rem;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses {
  color: #05111e;
  justify-content: flex-end;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses span {
  margin: 0 0.8rem;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses .arrow-icon {
  background: #05111e;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses:hover {
  color: #115faf;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses:hover .arrow-icon {
  background: #115faf;
}
.articles-section .articles-content .common-cards .common-card:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}

.articles-content .articles-cards .course-card:hover {
  box-shadow: none;
}

.card-info ul {
  display: flex;
  margin: 1.5rem auto;
}
.card-info ul li:nth-child(2) {
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
.card-info ul li {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-info ul li img {
  margin: 0 0.5rem;
}

.partners {
  background-color: #8080800F;
}
.partners .partners-content {
  padding: 2.2rem 0;
}
.partners .partners-content .partners-items {
  margin: 3.3rem 0;
}
.partners .partners-content .partners-items .partners-item {
  width: 100%;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #00000015;
  background-color: #ffffff;
  padding: 2.25rem 0;
  text-align: center;
}
.partners .partners-content .partners-items .partners-item:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}

@media (min-width: 40em) {
  .partners-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .partners-items .partners-item {
    max-width: 47%;
    margin: auto;
  }
}
@media (min-width: 62em) {
  .partners-items .partners-item {
    max-width: 23%;
  }
}
.top-footer-part {
  background: #031b43;
  color: #ffffff;
  padding: 2.6rem 0;
}
.top-footer-part .footer-content .subscribe {
  margin-bottom: 2.5rem;
}
.top-footer-part .footer-content .subscribe h4 {
  margin-top: 1.6rem;
}
.top-footer-part .footer-content .subscribe .subscribe-container {
  margin: 0.7rem 0;
  position: relative;
}
.top-footer-part .footer-content .subscribe .subscribe-container .search {
  width: 100%;
  height: 3rem;
  padding: 0.625rem 5.8rem 0.625rem 0.625rem;
  font-size: 1rem;
}
.top-footer-part .footer-content .subscribe .subscribe-container .subscribe-search-icon {
  position: absolute;
  right: 0;
  height: 3rem;
  padding: 0.9rem 1.25rem;
  cursor: pointer;
  background-color: #115faf;
  border-radius: 0px 5px 5px 0px;
}
.top-footer-part .footer-content .subscribe .subscribe-container .subscribe-search-icon:hover {
  background: #ff7c00;
}
.top-footer-part .footer-content .quick-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}
.top-footer-part .footer-content .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-footer-part .footer-content .contact-content .contact-item {
  display: inline-block;
}
.top-footer-part .footer-content .contact-content .app-links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.top-footer-part .footer-content .contact-content .app-links .app-icon {
  background-color: #ffffff;
  margin: 0 0.5rem;
}
.top-footer-part h3 {
  margin: 0 0.5rem 1.5rem;
}
.top-footer-part .quick-link {
  margin: 0.9rem 0;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  justify-content: right;
}
.top-footer-part .quick-link:hover {
  color: #ff7c00;
  text-decoration: underline;
}
.top-footer-part .quick-link:hover .icon {
  background-color: #ff7c00;
}
.top-footer-part .double-arrow {
  -webkit-mask: url(../assets/double-arrows.svg) no-repeat center;
  mask: url(../assets/double-arrows.svg) no-repeat center;
  background: #ffffff;
  margin: 0 0.5rem;
  width: 0.5rem;
  transform: rotate(180deg);
}
.top-footer-part .link-icon {
  width: 0.9rem;
  background: #ff7c00;
  margin: 0 0.5rem;
}
.top-footer-part .app-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
.top-footer-part .app-icon:hover {
  background-color: #ff7c00;
}

.top-footer-part .footer-content .contact-content .app-links .app-icon:hover {
  background-color: #ff7c00;
}

.arabic-container .top-footer-part .footer-content .subscribe .subscribe-container .search {
  padding: 0.625rem 0.625rem 0.625rem 5.8rem;
}
.arabic-container .top-footer-part .footer-content .subscribe .subscribe-container .subscribe-search-icon {
  left: 0;
  right: unset;
  border-radius: 5px 0px 0px 5px;
}
.arabic-container .top-footer-part .footer-content .double-arrow {
  transform: unset;
}

.bottom-footer-part {
  background-color: #011536;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
  color: #ffffff;
}

@media (min-width: 40em) {
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-content .subscribe {
    width: 100%;
  }
  .footer-content .quick-links {
    min-width: 18rem;
  }
}
@media (min-width: 62em) {
  .footer-content {
    display: flex;
  }
  .footer-content .subscribe {
    width: auto;
  }
}
@media (min-width: 75em) {
  .footer-content .subscribe,
.footer-content .quick-links {
    margin-left: 4.9rem;
  }
}
.map {
  -webkit-mask: url(../assets/map.svg) no-repeat center;
  mask: url(../assets/map.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.phone {
  -webkit-mask: url(../assets/phone.svg) no-repeat center;
  mask: url(../assets/phone.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.email {
  -webkit-mask: url(../assets/email.svg) no-repeat center;
  mask: url(../assets/email.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.facebook {
  -webkit-mask: url(../assets/facebook.svg) no-repeat center;
  mask: url(../assets/facebook.svg) no-repeat center;
}

.whatsapp {
  -webkit-mask: url(../assets/whatsapp.svg) no-repeat center;
  mask: url(../assets/whatsapp.svg) no-repeat center;
}

.instagram {
  -webkit-mask: url(../assets/instagram.svg) no-repeat center;
  mask: url(../assets/instagram.svg) no-repeat center;
}

.gmail {
  -webkit-mask: url(../assets/red-gmail.svg) no-repeat center;
  mask: url(../assets/red-gmail.svg) no-repeat center;
}

.facebook2 {
  -webkit-mask: url(../assets/blue-facebook.svg) no-repeat center;
  mask: url(../assets/blue-facebook.svg) no-repeat center;
}

.video-icon {
  -webkit-mask: url(../assets/video.svg) center center/contain no-repeat;
  mask: url(../assets/video.svg) center center/contain no-repeat;
}

.lock-icon {
  -webkit-mask: url(../assets/lock.svg) center center/contain no-repeat;
  mask: url(../assets/lock.svg) center center/contain no-repeat;
}

.comment-star {
  -webkit-mask: url(../assets/star.svg) center center/contain no-repeat;
  mask: url(../assets/star.svg) center center/contain no-repeat;
}

.common-title-content {
  background-image: url(../assets/gray-background.svg);
  padding: 1.6rem 0;
}

.login-content {
  border: 1px solid #B2C2CB;
  border-radius: 1.25rem;
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}
.login-content .left-part {
  background: #115faf;
  display: flex;
  justify-content: center;
  padding: 2.3rem;
  border-radius: 1.25rem 1.25rem 0 0;
}
.login-content .left-part img {
  max-width: 13rem;
}
.login-content .right-part {
  padding: 2.8rem 3rem 1rem;
  text-align: center;
}
.login-content .right-part .login-title {
  margin-bottom: 1rem;
}
.login-content .right-part .login-input {
  display: flex;
  flex-direction: column;
}
.login-content .right-part .login-input .form-input {
  text-align: left;
  margin: 1rem 0;
  width: 100%;
}
.login-content .right-part .login-input .form-input .input-label {
  font-size: 1rem;
}
.login-content .right-part .login-input .form-input .input-container {
  position: relative;
}
.login-content .right-part .login-input .form-input .input-container input {
  width: 100%;
  height: 3rem;
  padding: 0 1.5rem;
  margin: 1.125rem 0 0.5rem;
  padding-right: 3rem;
}
.login-content .right-part .login-input .form-input .input-container .input-icon {
  position: absolute;
  right: 0;
  top: 1.2rem;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  background-color: #000000;
  -webkit-mask: url(../assets/Icon-eye.svg) no-repeat center;
  mask: url(../assets/Icon-eye.svg) no-repeat center;
}
.login-content .right-part .login-input .form-input .input-container .input-icon:hover {
  background: #ff7c00;
}
.login-content .right-part .login-input .input-error .input-area {
  border: 2px solid #c10f23;
}
.login-content .right-part .login-input .input-error .input-error-message {
  font-size: 0.7rem;
  color: #c10f23;
  margin-right: 1rem;
}
.login-content .right-part .login-input .forget-password {
  text-align: right;
  margin-bottom: 1.25rem;
  cursor: pointer;
  margin: 0;
}
.login-content .right-part .login-input .forget-password a {
  color: #05111e;
}
.login-content .right-part .login-input .forget-password a:hover {
  color: #ff7c00;
  text-decoration: underline;
}
.login-content .right-part .login-input p {
  margin: 1.6rem 0;
}
.login-content .right-part .login-input .login-button {
  margin-top: 1.5rem;
}
.login-content .right-part .login-input .login-button a {
  color: #ffffff;
}
.login-content .right-part .login-input .login-icons {
  display: flex;
  justify-content: center;
}
.login-content .right-part .login-input .login-icons .facebook-background {
  background-color: #3c69b1;
}
.login-content .right-part .login-input .login-icons .facebook-background:hover {
  background-color: #2e4e82;
}
.login-content .right-part .login-input .login-icons .gmail-background {
  background-color: #ad3f59;
}
.login-content .right-part .login-input .login-icons .gmail-background:hover {
  background-color: #772b3d;
}
.login-content .right-part .login-input .login-icons .login-app-icon {
  cursor: pointer;
  padding: 0.6rem;
  margin: 0 0.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 24px;
}
.login-content .right-part .login-input .login-icons .login-app-icon .login-icon {
  background-color: #ffffff;
  height: 1.68rem;
}
.login-content .right-part .login-input .ask-f0r-account {
  display: flex;
  justify-content: center;
}
.login-content .right-part .login-input .ask-f0r-account p:nth-child(2) {
  margin: 1.6rem 0.6rem;
  color: #ff7c00;
  cursor: pointer;
}
.login-content .right-part .login-input .ask-f0r-account p:nth-child(2):hover {
  text-decoration: underline;
}

.confirm {
  margin-top: 1.8rem;
}

.arabic-container .login-content .right-part .login-input .form-input {
  text-align: right;
}
.arabic-container .login-content .right-part .login-input .form-input .input-container .input-icon {
  right: unset;
  left: 0;
}
.arabic-container .login-content .right-part .login-input .forget-password {
  text-align: left;
}

.arabic-container .login-content .right-part .login-input .form-input .input-container input {
  padding-left: 3rem;
  padding-right: 1.5rem;
}

@media (min-width: 62em) {
  .login-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .login-content .left-part {
    min-width: 47%;
    border-radius: 0 1.25rem 1.25rem 0;
  }
  .login-content .left-part img {
    max-width: unset;
    width: 100%;
  }
  .login-content .right-part {
    padding: 2.8rem 4rem 1rem;
  }

  .arabic-container .login-content .left-part {
    border-radius: 1.25rem 0 0 1.25rem;
  }
}
.course-delails {
  padding: 3.125rem 0;
}
.course-delails p {
  color: #05111e90;
}
.course-delails .course-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
  background: #f4f5f7;
  border-radius: 10px;
}
.course-delails .course-img img {
  min-width: 80%;
}
.course-delails .course-shorthand .card-info {
  background: #f4f5f7;
  border-radius: 5px;
  font-size: 0.875rem;
}
.course-delails .course-shorthand .card-info ul {
  max-width: 22rem;
  padding: 1.25rem 0;
  margin: 0;
}
.course-delails .cost-head {
  color: #ff7c00;
}
.course-delails h2 {
  margin-top: 1.5rem;
}
.course-delails .course-subscripe-botton {
  margin-top: 1.5rem;
  padding: 0.75rem 2rem;
  font-size: 0.875rem;
}

.course-content {
  background: #f4f5f7;
  padding: 3.125rem 0;
}
.course-content p {
  color: #05111e90;
}
.course-content .overview-radio:checked ~ .course-content-header .overview-li {
  background: #115faf;
  color: #ffffff;
}
.course-content .details-radio:checked ~ .course-content-header .details-li {
  background: #115faf;
  color: #ffffff;
}
.course-content .trainer-radio:checked ~ .course-content-header .trainer-li {
  background: #115faf;
  color: #ffffff;
}
.course-content .comments-radio:checked ~ .course-content-header .comments-li {
  background: #115faf;
  color: #ffffff;
}
.course-content .course-content-items {
  background: #ffffff;
  border-radius: 10px;
  border: 2px solid #E4E8EF;
}
.course-content .course-content-items .course-content-header {
  border-bottom: 2px solid #E4E8EF;
  padding: 0.5rem 1rem;
}
.course-content .course-content-items .course-content-header:checked ~ li {
  background: #115faf;
  color: #ffffff;
}
.course-content .course-content-items .course-content-header .radio-item {
  display: inline-block;
}
.course-content .course-content-items .course-content-header li {
  cursor: pointer;
  font-size: 0.875rem;
  margin: 0.5rem;
  text-align: center;
  padding: 0.5625rem 0;
  width: 7.5rem;
  background: #f4f5f7;
  border-radius: 5px;
}
.course-content .course-content-items .course-content-header li:hover {
  background: #ff7c00;
  color: #ffffff;
}
.course-content .course-content-items .course-overview {
  display: none;
}
.course-content .course-content-items .course-overview h3 {
  border-left: 5px solid #115faf;
  padding-left: 1rem;
}
.course-content .course-content-items .course-overview .radio-course-padding {
  padding: 0.5rem 1.8rem;
}
.course-content .course-content-items .course-overview .course-benefits {
  border-bottom: 2px solid #E4E8EF;
  padding: 0.5rem 0;
}
.course-content .course-content-items .course-overview .course-skills h3 {
  margin: 1rem 0;
}
.course-content .course-content-items .course-overview .course-skills .skills-items {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.course-content .course-content-items .course-overview .course-skills .skills-items ul {
  margin-top: 0.5rem;
}
.course-content .course-content-items .course-overview .course-skills .skills-items ul li {
  color: #05111e90;
  margin-bottom: 1rem;
}
.course-content .course-content-items .course-details {
  padding: 1.5rem;
  display: none;
}
.course-content .course-content-items .course-details h3 {
  background: #f4f5f7;
  padding: 0.7rem;
}
.course-content .course-content-items .course-details .course-video li {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0 1rem;
  cursor: pointer;
  border-bottom: 2px solid #E4E8EF;
}
.course-content .course-content-items .course-details .course-video li .video-name {
  display: flex;
}
.course-content .course-content-items .course-details .course-video li .video-name .video-icon {
  width: 1.5rem;
  height: 1.5rem;
  background: #115faf;
}
.course-content .course-content-items .course-details .course-video li .video-name span {
  margin: 0 0.6rem;
  font-weight: bolder;
}
.course-content .course-content-items .course-details .course-video li .video-details {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
}
.course-content .course-content-items .course-details .course-video li .video-details .video-questions {
  background: #115faf;
  color: #ffffff;
  padding: 0.4rem 0.9rem;
  border-radius: 5px;
}
.course-content .course-content-items .course-details .course-video li .video-details .video-questions:hover {
  background: #ff7c00;
  color: #ffffff;
}
.course-content .course-content-items .course-details .course-video li .video-details .video-time {
  color: #929292;
  margin-left: 0.8rem;
  margin-right: 2.5rem;
}
.course-content .course-content-items .course-details .course-video li .video-details .lock-icon {
  width: 1rem;
  height: 1rem;
  background: #115faf;
}
.course-content .course-content-items .course-details .course-video li:last-child {
  border-bottom: unset;
  padding-bottom: 0;
}
.course-content .course-content-items .course-details .course-video li:last-child:hover {
  box-shadow: 0 -4px 10px 2px #00000014;
}
.course-content .course-content-items .course-details .course-video li:hover .video-icon {
  background: #ff7c00;
}
.course-content .course-content-items .course-details .course-video li:hover {
  box-shadow: 0 2px 10px 2px #00000014;
}
.course-content .course-content-items .course-trainer {
  display: none;
}
.course-content .course-content-items .course-trainer .course-trainer-items {
  text-align: center;
  padding: 1.5rem;
}
.course-content .course-content-items .course-trainer .course-trainer-items .trainer-content {
  margin-bottom: 2rem;
}
.course-content .course-content-items .course-trainer .course-trainer-items .trainer-content .trainer-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  margin: auto;
}
.course-content .course-content-items .course-trainer .course-trainer-items .trainer-content .trainer-img img {
  width: 100%;
}
.course-content .course-content-items .course-trainer .course-trainer-items .trainer-content .trainer-info span {
  font-size: 0.85rem;
  color: #808080;
}
.course-content .course-content-items .course-trainer .course-trainer-items .price-content {
  font-size: 1.125rem;
  font-weight: bolder;
}
.course-content .course-content-items .course-trainer .course-trainer-items .price-content .trainer-price {
  color: #ff7c00;
}
.course-content .course-content-items .course-comments {
  display: none;
}
.course-content .course-content-items .course-comments .comment-stars-content {
  justify-content: center;
  display: flex;
}
.course-content .course-content-items .course-comments .comment-stars-content .comment-star {
  width: 1rem;
  height: 1rem;
  background: #ff7c00;
  margin: 0.6rem 0.2rem;
}
.course-content .course-content-items .course-comments .comment-stars-content .comment-star:nth-child(1) {
  background: #d1d1d1;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item {
  margin: 2rem 0;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container {
  display: flex;
  padding: 1rem;
  border-radius: 10px;
  border: 2px solid #E4E8EF;
  margin: 1rem 1.5rem;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container:hover {
  box-shadow: 0 2px 10px 2px #00000014;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-img-content .comment-img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-img-content .comment-img img {
  width: 100%;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-content .comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-content .comment-header .comment-date {
  color: #808080;
  font-size: 0.9rem;
}
.course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-content p {
  margin: 0.5rem 1rem;
}
.course-content .course-content-items .course-comments .your-comment {
  margin: 1.8rem;
}
.course-content .course-content-items .course-comments .your-comment .comment-title .comment-stars-content {
  justify-content: start;
}
.course-content .course-content-items .course-comments .your-comment .comment {
  display: block;
  width: 100%;
  height: 9.125rem;
  border-radius: 13px;
  padding: 0.7rem 1rem 6.5rem;
  margin: 1rem 0;
}
.course-content .course-content-items .course-comments .your-comment .comment:hover {
  border: 2px solid #8080800F;
}
.course-content .course-content-items .course-comments .your-comment .send-button {
  font-size: 1rem;
  padding: 0.7rem 3rem;
}
.course-content .course-content-items .overview-radio:checked ~ .course-overview {
  display: block;
}
.course-content .course-content-items .details-radio:checked ~ .course-details {
  display: block;
}
.course-content .course-content-items .trainer-radio:checked ~ .course-trainer {
  display: block;
}
.course-content .course-content-items .comments-radio:checked ~ .course-comments {
  display: block;
}

.arabic-container .course-content .course-content-items .course-overview h3 {
  border-left: 0;
  border-right: 5px solid #115faf;
  padding-right: 1rem;
}
.arabic-container .course-content .course-content-items .course-details .course-video li .video-details .video-time {
  margin-right: 0.8rem;
  margin-left: 2.5rem;
}

@media (min-width: 40em) {
  .course-content .course-content-items .course-overview .course-skills .skills-items {
    width: 70%;
  }
  .course-content .course-content-items .course-trainer .course-trainer-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .course-content .course-content-items .course-trainer .course-trainer-items .trainer-content {
    display: flex;
    margin-bottom: unset;
  }
  .course-content .course-content-items .course-trainer .course-trainer-items .trainer-content .trainer-img {
    margin: 0 0.9rem;
  }
}
@media (min-width: 62em) {
  .course-delails .container {
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
  }
  .course-delails .container .course-img {
    min-width: 40%;
    margin-left: 4rem;
    margin-right: unset;
  }
  .course-delails .container .course-img img {
    min-width: 100%;
  }

  .course-content .course-content-items .course-overview .course-skills .skills-items {
    width: 60%;
  }
  .course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-content p {
    margin-right: 8rem;
  }

  .arabic-container .course-delails .container .course-img {
    margin-right: 4rem;
    margin-left: unset;
  }
  .arabic-container .course-content .course-content-items .course-comments .course-comments-items .course-comments-item .comment-container .comment-content p {
    margin-left: 8rem;
    margin-right: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
