@import "mixins.scss";
@import "variables.scss";
@import "header-style.scss";
@import "main-banner.scss";
@import "courses-containar.scss";
@import "common-card.scss";
@import "why-spme.scss";
@import "articles.scss";
@import "card-info.scss";
@import "partners.scss";

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: auto;
}

.button {
  font-size: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
}

input {
  border: none;
  border-radius: 5px;
  background-color: $grey-1;
}

.outlined-button {
  background-color: $white;
  border: 2px solid $secondary;
  color: $secondary;
}

.primary-button {
  background-color: $primary;
  border: 2px solid $primary;
  color: $white;
}

.outlined-button:hover,
.primary-button:hover,
.selected-button {
  background: $secondary;
  border: 2px solid $secondary;
  color: $white;
}

.selected-button:hover {
  opacity: 0.9;
}

.text-button {
  color: $dark-1;
  font-weight: bolder;
  padding: 0.5rem;
}

.text-button:hover {
  color: $primary;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

.common-title {
  text-align: center;
}

p {
  margin: 0.625rem 0;
  line-height: 1.6rem;
}

.common-paragraph {
  opacity: 50%;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  -webkit-mask: url(../assets/blue-arrow.svg) no-repeat bottom;
  mask: url(../assets/blue-arrow.svg) no-repeat bottom;
  background: $primary;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 0.9rem;
}

.active-arrow-icon {
  -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
}

.arrow-icon-right {
  transform: rotate(180deg);
}
.see-more-courses {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-width: 7rem;
  color: $primary;
}

.see-more-courses:hover {
  color: $secondary;
  .arrow-icon {
    background: $secondary;
  }
}
