header {
  z-index: 100;
  display: flex;
  height: 4.5rem;
  position: sticky;
  box-shadow: 0 2px 5px 0 #00000014;
  background: #FFFFFF;
  top: 0;
  font-weight: bold;
}
header .show-more-checkbox {
  display: none;
}
header .show-more-checkbox:checked ~ .menu {
  display: flex;
  position: absolute;
}
header .menu {
  font-size: 0.75rem;
  display: none;
  flex-direction: column-reverse;
  box-shadow: 0 2px 5px 0 #00000014;
  left: 0;
  top: 4.3rem;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 0.625rem;
  text-align: center;
  align-items: center;
}
header .menu .outlined-button,
header .menu .primary-button {
  width: 7.75rem;
}
header .menu li {
  margin: 0.625rem;
}
header .logo {
  height: 3.25rem;
}
header .show-more-icon {
  cursor: pointer;
}
header .show-more-icon:hover {
  opacity: 0.8;
}
header .search-container {
  margin: 0 2.5rem;
  position: relative;
  flex: 1;
}
header .search-container .search {
  width: 100%;
  height: 2.625rem;
  padding: 0.625rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 2.5rem;
}
header .search-container .search-icon {
  position: absolute;
  left: 0;
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  -webkit-mask: url(../assets/search.svg) no-repeat center;
  mask: url(../assets/search.svg) no-repeat center;
  background-color: #565656;
}
header .search-container .search-icon:hover {
  background-color: #115FAF;
}

@media (min-width: 40em) {
  header .verify-certificate {
    display: none;
  }
  header .search-container {
    margin: 0;
  }
  header .show-more-checkbox:checked ~ .menu {
    position: static;
  }
  header .menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 0;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  header .menu li {
    margin: 0.25rem;
  }
  header .show-more-checkbox,
header .show-more-icon {
    display: none;
  }
  header .logo {
    margin-left: 0.5rem;
  }
}
@media (min-width: 75em) {
  header .menu .verify-certificate {
    display: list-item;
  }
  header .menu li {
    margin-right: 0.94rem;
  }
  header .logo {
    margin-left: 1.875rem;
  }
}
.main-banner {
  background-image: url(../assets/blue-background.svg);
}
.main-banner .container {
  padding: 1.875rem 0;
  text-align: center;
}
.main-banner .head-info {
  padding: 0.625rem;
  color: #FFFFFF;
}
.main-banner .head-info h1 {
  font-size: 2.875rem;
}
.main-banner .head-info p {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  line-height: 1.8;
  padding: 0 3.1rem;
}
.main-banner .head-info a {
  position: relative;
  padding: 0.6rem 2rem 0.75rem 3.5rem;
  margin-top: 1.25rem;
}
.main-banner .head-info a img {
  position: absolute;
  top: 1rem;
  left: 1.5625rem;
}
.main-banner .banner-img {
  margin-top: 1.875rem;
  width: 25rem;
  max-width: 100%;
}

@media (min-width: 40em) {
  .main-banner .banner-img {
    width: 30rem;
  }
}
@media (min-width: 62em) {
  .main-banner .container {
    text-align: right;
    padding: 5.65rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-banner .container p {
    padding: 0;
  }
  .main-banner .banner-img {
    width: 31.25rem;
  }
}
@media (min-width: 75em) {
  .main-banner .banner-img {
    width: 41.25rem;
  }
}
.courses-container {
  font-size: 0.875rem;
  color: #05111E;
}
.courses-container .top-info {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-container .top-info .title-info {
  background-color: yellow;
}
.courses-container .top-info .title-info p {
  padding-top: 10px;
}
.courses-container .top-info .see-more-courses-button {
  display: flex;
  align-items: center;
  min-width: 7rem;
}

* {
  direction: rtl;
  margin: 0;
  padding: 0;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: auto;
}

.button {
  font-size: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
}

input {
  border: none;
  border-radius: 5px;
  background-color: #F4F5F7;
}

.outlined-button {
  background-color: #FFFFFF;
  border: 2px solid #FF7C00;
  color: #FF7C00;
}

.primary-button {
  background-color: #115FAF;
  border: 2px solid #115FAF;
  color: #FFFFFF;
}

.outlined-button:hover,
.primary-button:hover,
.selected-button {
  background: #FF7C00;
  border: 2px solid #FF7C00;
  color: #FFFFFF;
}

.selected-button:hover {
  opacity: 0.8;
}

.text-button {
  color: #05111E;
  font-weight: bolder;
  padding: 0.5rem;
}

.text-button:hover {
  color: #115FAF;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
