header {
  z-index: 100;
  display: flex;
  height: 4.5rem;
  position: sticky;
  box-shadow: 0 2px 5px 0 #00000014;
  background: #ffffff;
  top: 0;
  font-weight: bold;
}
header .show-more-checkbox {
  display: none;
}
header .show-more-checkbox:checked ~ .menu {
  display: flex;
  position: absolute;
}
header .menu {
  font-size: 0.75rem;
  display: none;
  flex-direction: column-reverse;
  box-shadow: 0 2px 5px 0 #00000014;
  right: 0;
  top: 4.3rem;
  background: #ffffff;
  border-radius: 5px;
  padding: 0.625rem;
  text-align: center;
  align-items: center;
}
header .menu .outlined-button,
header .menu .primary-button {
  width: 7.75rem;
}
header .menu li {
  margin: 0.625rem;
}
header .logo {
  height: 3.25rem;
}
header .show-more-icon {
  cursor: pointer;
}
header .search-container {
  margin: 0 2.5rem;
  position: relative;
  flex: 1;
}
header .search-container .search {
  width: 100%;
  height: 2.625rem;
  padding: 0.625rem;
  font-size: 0.75rem;
  font-weight: bold;
  padding-right: 2.5rem;
  padding-left: 0.625rem;
}
header .search-container .search-icon {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 2.625rem;
  height: 2.625rem;
  -webkit-mask: url(../assets/search.svg) no-repeat center;
  -ms-mask: url(../assets/search.svg) no-repeat center;
  mask: url(../assets/search.svg) no-repeat center;
  background-color: #565656;
}
header .search-container .search-icon:hover {
  background-color: #115faf;
}

.arabic-container .search-container .search {
  padding-left: 2.5rem;
  padding-right: 0.625rem;
}
.arabic-container .search-container .search-icon {
  left: 0;
  right: unset;
}
.arabic-container .menu {
  right: unset;
  left: 0;
}

@media (min-width: 40em) {
  header .verify-certificate {
    display: none;
  }
  header .search-container {
    margin: 0;
  }
  header .show-more-checkbox:checked ~ .menu {
    position: static;
  }
  header .menu {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-radius: 0;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  header .menu li {
    margin: 0.25rem;
  }
  header .show-more-checkbox,
header .show-more-icon {
    display: none;
  }
  header .logo {
    margin-right: 1rem;
  }

  .arabic-container .logo {
    margin-left: 1rem;
  }
}
@media (min-width: 75em) {
  header .menu .verify-certificate {
    display: list-item;
  }
  header .menu li {
    margin-right: 0.94rem;
  }
  header .logo {
    margin-right: 1.875rem;
  }

  .arabic-container .logo {
    margin-left: 1.875rem;
  }
}
.main-banner {
  background-image: url(../assets/blue-background.svg);
}
.main-banner .container {
  padding: 1.875rem 0;
  text-align: center;
}
.main-banner .head-info {
  padding: 0.625rem;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-banner .head-info h1 {
  font-size: 2.875rem;
}
.main-banner .head-info p {
  font-size: 0.875rem;
  margin-top: 1.25rem;
  line-height: 1.8;
  padding: 0 3.1rem;
}
.main-banner a {
  display: flex;
  justify-content: center;
  padding: 0.6rem 1.5rem 0.75rem 1.5rem;
  margin: 1.25rem auto;
}
.main-banner a .arrow-icon {
  margin: 0.125rem 0.5rem 0;
  background-color: #ffffff;
  height: 1rem;
}
.main-banner .banner-img {
  margin-top: 1.875rem;
  width: 25rem;
  max-width: 100%;
}

@media (min-width: 40em) {
  .main-banner .banner-img {
    width: 30rem;
  }
}
@media (min-width: 62em) {
  .main-banner .container {
    text-align: left;
    padding: 5.65rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main-banner .container .head-info {
    align-items: start;
  }
  .main-banner .container .head-info p {
    padding: 0;
  }
  .main-banner .container .head-info a {
    margin: 1.25rem 0 0 0;
  }
  .main-banner .banner-img {
    width: 31.25rem;
  }

  .arabic-container .main-banner .container {
    text-align: right;
  }
}
@media (min-width: 75em) {
  .main-banner .banner-img {
    width: 41.25rem;
  }
}
.courses-container {
  font-size: 0.875rem;
  color: #05111e;
}
.courses-container .top-info {
  padding-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses-container .common-cards {
  margin-top: 2rem;
}
.courses-container .navigate-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.courses-container .navigate-courses .arrow-icon {
  height: 1rem;
  width: 1.125rem;
  margin: 0.5rem;
  opacity: 0.5;
}
.courses-container .navigate-courses .active-arrow-icon {
  opacity: 1;
  height: 1.25rem;
  width: 2.5rem;
  cursor: pointer;
}
.courses-container .navigate-courses .active-arrow-icon:hover {
  background-color: #ff7c00;
}

.common-card {
  cursor: pointer;
  margin: auto;
  box-shadow: 0px 3px 10px #00000015;
  border-radius: 10px;
  width: 100%;
  padding: 0.6rem 0.6rem 1.5rem;
  margin-bottom: 1.25rem;
}
.common-card .card-img {
  text-align: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  max-height: 14.375rem;
}
.common-card .card-img img {
  min-width: 100%;
  min-height: 100%;
}
.common-card .card-content {
  margin: 0 0.3rem;
}
.common-card .card-content .trainer {
  display: flex;
  margin: 0.8rem 0;
}
.common-card .card-content .trainer p {
  color: #115faf;
  align-self: center;
  margin: 0 0.7rem;
}
.common-card .card-content .trainer .trainer-img {
  border-radius: 50%;
  width: 2.19rem;
  overflow: hidden;
  height: 2.19rem;
}
.common-card .card-content .trainer .trainer-img img {
  width: 100%;
}
.common-card .card-content .common-card-button {
  display: flex;
  justify-content: center;
  background: #f1f1f1;
  border-radius: 5px;
  color: #05111e;
  padding: 0.85rem 0;
}
.common-card .card-content .common-card-button .arrow-icon {
  margin: 0 0.3rem;
  background: #05111e;
}
.common-card .card-content .common-card-button:hover {
  background: #ddeaf9;
  color: #115faf;
}
.common-card .card-content .common-card-button:hover .arrow-icon {
  background: #115faf;
}

.common-card:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}

@media (min-width: 62em) {
  .common-cards {
    display: flex;
    flex-wrap: wrap;
  }
  .common-cards .common-card {
    max-width: 48%;
  }
}
@media (min-width: 75em) {
  .common-cards .common-card {
    max-width: 32%;
  }
}
.why-spme {
  background-image: url(../assets/peaple.png);
  background-size: cover;
}
.why-spme .why-spme-background {
  background-color: #003185;
  opacity: 0.9;
}
.why-spme .why-spme-background .why-spme-content {
  padding: 4.2rem 0;
}
.why-spme .why-spme-background .why-spme-content div {
  color: white;
}
.why-spme .why-spme-background .why-spme-content .why-spme-items .why-spme-item {
  margin: auto;
  background-color: #397bde;
  border-radius: 15px;
  margin-top: 1.8rem;
  padding: 2.8rem 1.8rem;
  text-align: center;
}
.why-spme .why-spme-background .why-spme-content .why-spme-items .why-spme-item h3 {
  margin-top: 1.5rem;
}
.why-spme .why-spme-background .why-spme-content .why-spme-items .why-spme-item p {
  margin-top: 1rem;
}
.why-spme .common-title p {
  opacity: 0.7;
}

@media (min-width: 62em) {
  .why-spme-items {
    display: flex;
    flex-wrap: wrap;
  }
  .why-spme-items .why-spme-item {
    max-width: 47%;
  }
}
@media (min-width: 75em) {
  .why-spme-items .why-spme-item {
    max-width: 30%;
  }
}
.articles-section .articles-content {
  padding: 4.2rem 0;
}
.articles-section .articles-content .common-cards {
  margin: 3rem 0;
}
.articles-section .articles-content .common-cards .common-card {
  position: relative;
  box-shadow: none;
  padding: 0;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.articles-section .articles-content .common-cards .common-card .date-of-course {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  text-align: center;
  padding: 0.25rem 0.625rem;
  border: 1px solid #265FA9;
  width: 2.8rem;
  border-radius: 5px;
  font-size: 1rem;
  color: #115faf;
  font-weight: bold;
  line-height: 1.1;
}
.articles-section .articles-content .common-cards .common-card .card-content {
  margin: 0 1rem;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses {
  color: #05111e;
  justify-content: flex-end;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses span {
  margin: 0 0.8rem;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses .arrow-icon {
  background: #05111e;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses:hover {
  color: #115faf;
}
.articles-section .articles-content .common-cards .common-card .card-content .see-more-courses:hover .arrow-icon {
  background: #115faf;
}
.articles-section .articles-content .common-cards .common-card:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}

.articles-content .articles-cards .course-card:hover {
  box-shadow: none;
}

.card-info ul {
  display: flex;
  margin: 1.5rem auto;
}
.card-info ul li:nth-child(2) {
  border-left: 1px solid #d1d1d1;
  border-right: 1px solid #d1d1d1;
}
.card-info ul li {
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-info ul li img {
  margin: 0 0.5rem;
}

.partners {
  background-color: #8080800F;
}
.partners .partners-content {
  padding: 2.2rem 0;
}
.partners .partners-content .partners-items {
  margin: 3.3rem 0;
}
.partners .partners-content .partners-items .partners-item {
  width: 100%;
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0px 3px 5px #00000015;
  background-color: #ffffff;
  padding: 2.25rem 0;
  text-align: center;
}
.partners .partners-content .partners-items .partners-item:hover {
  box-shadow: 0 3px 10px 3px #cccccc;
}

@media (min-width: 40em) {
  .partners-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .partners-items .partners-item {
    max-width: 47%;
    margin: auto;
  }
}
@media (min-width: 62em) {
  .partners-items .partners-item {
    max-width: 23%;
  }
}
.top-footer-part {
  background: #031b43;
  color: #ffffff;
  padding: 2.6rem 0;
}
.top-footer-part .footer-content .subscribe {
  margin-bottom: 2.5rem;
}
.top-footer-part .footer-content .subscribe h4 {
  margin-top: 1.6rem;
}
.top-footer-part .footer-content .subscribe .subscribe-search-container {
  margin: 0.7rem 0;
  position: relative;
}
.top-footer-part .footer-content .subscribe .subscribe-search-container .search {
  width: 100%;
  height: 3rem;
  padding: 0.625rem 5.8rem 0.625rem 0.625rem;
  font-size: 1rem;
}
.top-footer-part .footer-content .subscribe .subscribe-search-container .subscribe-search-icon {
  position: absolute;
  right: 0;
  height: 3rem;
  padding: 0.9rem 1.25rem;
  cursor: pointer;
  background-color: #115faf;
  border-radius: 0px 5px 5px 0px;
}
.top-footer-part .footer-content .subscribe .subscribe-search-container .subscribe-search-icon:hover {
  background: #ff7c00;
}
.top-footer-part .footer-content .quick-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2.5rem;
}
.top-footer-part .footer-content .contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top-footer-part .footer-content .contact-content .contact-item {
  display: inline-block;
}
.top-footer-part .footer-content .contact-content .app-links {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.top-footer-part .footer-content .contact-content .app-links .app-icon {
  background-color: #ffffff;
  margin: 0 0.5rem;
}
.top-footer-part h3 {
  margin: 0 0.5rem 1.5rem;
}
.top-footer-part .quick-link {
  margin: 0.9rem 0;
  cursor: pointer;
  display: flex;
  font-size: 0.875rem;
  justify-content: right;
}
.top-footer-part .quick-link:hover {
  color: #ff7c00;
  text-decoration: underline;
}
.top-footer-part .quick-link:hover .icon {
  background-color: #ff7c00;
}
.top-footer-part .double-arrow {
  -webkit-mask: url(../assets/double-arrows.svg) no-repeat center;
  mask: url(../assets/double-arrows.svg) no-repeat center;
  background: #ffffff;
  margin: 0 0.5rem;
  width: 0.5rem;
  transform: rotate(180deg);
}
.top-footer-part .link-icon {
  width: 0.9rem;
  background: #ff7c00;
  margin: 0 0.5rem;
}
.top-footer-part .app-icon {
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 0.8rem;
  cursor: pointer;
}
.top-footer-part .app-icon:hover {
  background-color: #ff7c00;
}

.top-footer-part .footer-content .contact-content .app-links .app-icon:hover {
  background-color: #ff7c00;
}

.arabic-container .top-footer-part .footer-content .subscribe .subscribe-search-container .search {
  padding: 0.625rem 0.625rem 0.625rem 5.8rem;
}
.arabic-container .top-footer-part .footer-content .subscribe .subscribe-search-container .subscribe-search-icon {
  left: 0;
  right: unset;
  border-radius: 5px 0px 0px 5px;
}
.arabic-container .top-footer-part .footer-content .double-arrow {
  transform: unset;
}

.bottom-footer-part {
  background-color: #011536;
  text-align: center;
  font-size: 1rem;
  padding: 1.5rem 0;
  color: #ffffff;
}

@media (min-width: 40em) {
  .footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .footer-content .subscribe {
    width: 100%;
  }
  .footer-content .quick-links {
    min-width: 18rem;
  }
}
@media (min-width: 62em) {
  .footer-content {
    display: flex;
  }
  .footer-content .subscribe {
    width: auto;
  }
}
@media (min-width: 75em) {
  .footer-content .subscribe,
.footer-content .quick-links {
    margin-left: 4.9rem;
  }
}
.map {
  -webkit-mask: url(../assets/map.svg) no-repeat center;
  mask: url(../assets/map.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.phone {
  -webkit-mask: url(../assets/phone.svg) no-repeat center;
  mask: url(../assets/phone.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.email {
  -webkit-mask: url(../assets/email.svg) no-repeat center;
  mask: url(../assets/email.svg) no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.facebook {
  -webkit-mask: url(../assets/facebook.svg) no-repeat center;
  mask: url(../assets/facebook.svg) no-repeat center;
}

.whatsapp {
  -webkit-mask: url(../assets/whatsapp.svg) no-repeat center;
  mask: url(../assets/whatsapp.svg) no-repeat center;
}

.instagram {
  -webkit-mask: url(../assets/instagram.svg) no-repeat center;
  mask: url(../assets/instagram.svg) no-repeat center;
}

.red-gmail {
  -webkit-mask: url(../assets/red-gmail.svg) no-repeat center;
  mask: url(../assets/red-gmail.svg) no-repeat center;
}

.blue-facebook {
  -webkit-mask: url(../assets/blue-facebook.svg) no-repeat center;
  mask: url(../assets/blue-facebook.svg) no-repeat center;
}

.login-title-content {
  background-image: url(../assets/gray-background.svg);
  padding: 1.6rem 0;
}

.login-content {
  border: 1px solid #B2C2CB;
  border-radius: 1.25rem;
  margin-top: 2.8rem !important;
  margin-bottom: 2.8rem !important;
}
.login-content .left-part {
  background: #115faf;
  display: flex;
  justify-content: center;
  padding: 2.3rem;
  border-radius: 1.25rem 1.25rem 0 0;
}
.login-content .left-part img {
  max-width: 13rem;
}
.login-content .right-part {
  padding: 2.8rem 3rem 1rem;
  text-align: center;
}
.login-content .right-part .login-input {
  display: flex;
  flex-direction: column;
}
.login-content .right-part .login-input label {
  margin: 1.8rem 0 1rem;
  text-align: left;
}
.login-content .right-part .login-input .search {
  width: 100%;
  height: 3rem;
  padding: 0.625rem 1.5rem 0.625rem 0.625rem;
  font-size: 0.8rem;
}
.login-content .right-part .login-input .password-container {
  position: relative;
}
.login-content .right-part .login-input .password-container .see-icon {
  position: absolute;
  right: 0;
  height: 3rem;
  padding: 0.9rem 1.25rem;
  cursor: pointer;
  background-color: #000000;
  -webkit-mask: url(../assets/Icon-eye.svg) no-repeat center;
  mask: url(../assets/Icon-eye.svg) no-repeat center;
}
.login-content .right-part .login-input .password-container .see-icon:hover {
  background: #ff7c00;
}
.login-content .right-part .login-input .password-details {
  text-align: right;
  margin: 1.25rem 0px;
  cursor: pointer;
}
.login-content .right-part .login-input .password-details:hover {
  color: #ff7c00;
  text-decoration: underline;
}
.login-content .right-part .login-input p {
  margin: 1.6rem 0;
}
.login-content .right-part .login-input .login-icons img {
  margin: 0 0.4rem;
  cursor: pointer;
}
.login-content .right-part .login-input .login-icons img:hover {
  opacity: 0.8;
}
.login-content .right-part .login-input .ask-f0r-account {
  display: flex;
  justify-content: center;
}
.login-content .right-part .login-input .ask-f0r-account p:nth-child(2) {
  margin: 1.6rem 0.6rem;
  color: #ff7c00;
  cursor: pointer;
}
.login-content .right-part .login-input .ask-f0r-account p:nth-child(2):hover {
  text-decoration: underline;
}

.arabic-container .login-content .right-part .login-input label {
  text-align: right;
}

.arabic-container .login-content .right-part .login-input .password-container .see-icon {
  right: unset;
  left: 0;
}

@media (min-width: 62em) {
  .login-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .login-content .left-part {
    min-width: 45%;
    padding-bottom: 0;
    border-radius: 0 1.25rem 1.25rem 0;
    align-items: flex-end;
  }
  .login-content .left-part img {
    max-width: unset;
    width: 100%;
  }
  .login-content .right-part {
    padding: 2.8rem 5rem 1rem;
  }

  .arabic-container .login-content .left-part {
    border-radius: 1.25rem 0 0 1.25rem;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.arabic-container {
  direction: rtl;
}

.container {
  width: 90%;
  max-width: 73.125rem;
  margin: auto;
}

.button {
  font-size: 0.75rem;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 0.625rem 0;
  cursor: pointer;
}

.activable-item:active {
  opacity: 0.8 !important;
}

input {
  border: none;
  border-radius: 5px;
  background-color: #f4f5f7;
}

.outlined-button {
  background-color: #ffffff;
  border: 2px solid #ff7c00;
  color: #ff7c00;
}

.primary-button {
  background-color: #115faf;
  border: 2px solid #115faf;
  color: #ffffff;
}

.outlined-button:hover,
.primary-button:hover,
.selected-button {
  background: #ff7c00;
  border: 2px solid #ff7c00;
  color: #ffffff;
}

.selected-button:hover {
  opacity: 0.9;
}

.text-button {
  color: #05111e;
  font-weight: bolder;
  padding: 0.5rem;
}

.text-button:hover {
  color: #115faf;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 2.875rem;
}

h2 {
  font-size: 1.875rem;
}

h2.big-one {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

.common-title {
  text-align: center;
}

p {
  margin: 0.625rem 0;
  line-height: 1.6rem;
  font-size: 0.9rem;
}

.common-paragraph {
  opacity: 50%;
}

.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  -webkit-mask: url(../assets/blue-arrow.svg) no-repeat top;
  mask: url(../assets/blue-arrow.svg) no-repeat top;
  background: #115faf;
  -webkit-mask-size: contain;
  mask-size: contain;
  width: 0.9rem;
  transform: rotate(180deg);
}

.active-arrow-icon {
  -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
}

.arrow-icon-right {
  transform: unset;
}

.arabic-container .arrow-icon {
  -webkit-mask: url(../assets/blue-arrow.svg) no-repeat center;
  mask: url(../assets/blue-arrow.svg) no-repeat center;
  transform: unset;
}
.arabic-container .active-arrow-icon {
  -webkit-mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  mask: url(../assets/expanded-left-arrow.svg) no-repeat bottom;
  transform: unset;
}
.arabic-container .arrow-icon-right {
  transform: rotate(180deg);
}

.see-more-courses {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  min-width: 7rem;
  color: #115faf;
}

.see-more-courses:hover {
  color: #ff7c00;
}
.see-more-courses:hover .arrow-icon {
  background: #ff7c00;
}

/*# sourceMappingURL=style.css.map */
