$primary: #115FAF;
$secondary: #FF7C00;
$info:#397BDE;
$danger:#C10F23;
$warning:#FFF6E6;
$warning-2: #FFAD1F;

$dark-1: #05111E;
$dark-2: #031B43;
$dark-3: #011536;

$grey-1: #F1F1F1;
$grey-2: #F4F5F7;
$grey-3: #808080;
$grey-4: #565656;
$grey-5: #D1D1D1;

$black: #000000;
$white: #FFFFFF;

$facebook: #3C69B1;
$google: #AD3F59;

//TODO: remove => used only in courses background

$green: #54C9A4;
$blue:#3362CC;

