$primary: #115faf;
$secondary: #ff7c00;
$info: #397bde;
$danger: #c10f23;
$warning: #fff6e6;
$warning-2: #ffad1f;
$red: #ff0000;

$creemy: #FFF6E6;

$primary-light: #ddeaf9;

$primary-light-2: #265FA9;
$primary-light-3: #003185;

$dark-1: #05111e;
$dark-2: #031b43;
$dark-3: #011536;

$grey-1: #f4f5f7;
$grey-2: #f1f1f1;
$grey-3: #d1d1d1;
$grey-4: #808080;
$grey-5: #565656;
$grey-6: #8080800F;
$grey-7: #B2C2CB;
$grey-8: #E4E8EF;
$grey-9: #929292;



$black: #000000;
$white: #ffffff;

$facebook: #3c69b1;
$google: #ad3f59;


$green: #54C9A4;



//TODO: remove => used only in courses background
